<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="NorthwindExtendedEntities" connectionString="metadata=res://*/DAL.NorthWindModel.csdl|res://*/DAL.NorthWindModel.ssdl|res://*/DAL.NorthWindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NorthwindExtended;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    <add name="NorthwindHumanResources" connectionString="metadata=.\DataModels\HumanResources\NorthwindModel.csdl|.\DataModels\HumanResources\NorthwindModel.ssdl|.\DataModels\HumanResources\NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NorthwindExtended;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindPurchasing" connectionString="metadata=.\DataModels\Purchasing\NorthwindModel.csdl|.\DataModels\Purchasing\NorthwindModel.ssdl|.\DataModels\Purchasing\NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NorthwindExtended;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindSales" connectionString="metadata=.\DataModels\Sales\NorthwindModel.csdl|.\DataModels\Sales\NorthwindModel.ssdl|.\DataModels\Sales\NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NorthwindExtended;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>